*.a
*.o
*.d
*.so
*.so.*
*.pc
/iast
/tests/test
/tests/coverage
/tests/*.test
*.1.gz
*.gcno
*.gcda

/Makefile
/configure
/aclocal.m4
/install-sh
/config.h*
/config.sub
/config.guess
/*.status
/*.cache
/*.log
